<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Клиенты</title>
</head>

<body>

<form method="post">
    <p>Имя клиента: <input type="text" placeholder="Обязательное" name="clientName"></p>
    <p>Страна: <input type="text" size="20" placeholder="Обязательное" name="country"></p>
    <p>Город: <input type="text" size="20" placeholder="" name="city"></p>
    <p>Улица: <input type="text" size="20" placeholder="" name="street"></p>
    <p>
        Дом/Строение/Квартира:
        <input type="text" size="15" placeholder="Обязательное" name="houseNumber">
        <input type="text" size="6" placeholder="" name="buildingNumber">
        <input type="text" size="6" placeholder="" name="apartmentNumber">
    </p>
    <p>Телефон: <input type="text" name="phone"></p>

    <p><input type="submit" value="Сохранить"></p>
</form>

<h4>Список клиентов</h4>
<table cellpadding="10" border="1" style="width: 700px">
    <thead>
    <tr>
        <td style="width: 50px">Id</td>
        <td style="width: 150px">Имя</td>
        <td style="width: 350px">Адрес</td>
        <td style="width: 150px">Телефон</td>

    </tr>
    </thead>
    <tbody>
    <#list clients as client>
    <tr>
        <td>${client.id}</td>
        <td>${client.name}</td>
        <td>${client.address}</td>
        <td>${client.phones}</td>
    </tr>
    </#list>
    </tbody>
</table>
</body>
</html>
