<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Создание нового клиента</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>

</head>
<body>

<form th:action="@{/client/save}" th:method="post" accept-charset="utf-8">
    <h1>Создание нового клиента:</h1>
    <p>Имя клиента: <input type="text" placeholder="Обязательное" name="clientName" th:value="${client.name}"></p>
    <p>Страна: <input type="text" size="20" placeholder="Обязательное" name="country" th:value="${address.country}"></p>
    <p>Город: <input type="text" size="20" placeholder="" name="city" th:value="${address.city}"></p>
    <p>Улица: <input type="text" size="20" placeholder="" name="street" th:value="${address.street}"></p>
    <p>
        Дом/Строение/Квартира:
        <input type="text" size="15" placeholder="Обязательное" name="houseNumber" th:value="${address.houseNumber}">
        <input type="text" size="6" placeholder="" name="buildingNumber" th:value="${address.buildingNumber}">
        <input type="text" size="6" placeholder="" name="apartmentNumber" th:value="${address.apartmentNumber}">
    </p>
    <p>Телефон: <input type="text" size="20" placeholder="" name="phoneNumber" th:value="${phone.number}"></p>

    <p><input type="submit" value="Сохранить"></p>
</form>

</body>
</html>
